/latexthesistemplate/template/latexthesistemplate
/latexthesistemplate/scripts/__pycache__
/latexthesistemplate/template/*.zip
*.log
*.pdf
/latexthesistemplate/template/content/longtable.tex
/latexthesistemplate/template/doc/demo/democode.tex
/latexthesistemplate/template/doc/doc-code-filled.tex
/latexthesistemplate/template/bib/demo.bib
